* {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  }

  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  
  .navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 0px solid black;
  background-color: rgb(50, 0, 85);
  border-radius: 0px;
  
  }
  
  .navbar h1{
    color: White;
  
  }
  
  .navbar .links{
    margin-left: auto;
    
  }
  
  .navbar a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: white;
    margin: 0px;
  }
  .navbar a:hover{
    color: black;
  }
  
  .content{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  .cases{
     border: 5px;
     
  }

  .cases .des{

    font-size: 15px;
    color: black;
  }

  .cases .stat{
    font-size: 15px;
  }

  .cases .type{
    font-size: 30px;
  }

  .clientName{
    /* border-bottom: 0px solid black;
  background-color: rgb(50, 0, 85);
  border-radius: 0px; */
  }

  .table .th .td{
    border: 1px solid black;
    border-collapse: collapse;
  }

  .tr .td{
    padding: 5px;
    text-align: left;
  }

  .cases-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cases-table th,
  .cases-table td {
    padding: 8px;
    text-align: left;
  }
  
  .cases-table th {
    background-color: #f2f2f2;
  }
  

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px; /* Adjust the width as needed */
    height: auto;
    background-color: rgb(35, 0, 130);
  }
  
  .login-container label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
  .login-container label span {
    flex-basis: 100px;
  }
  
  .login-container input[type="email"]{
    padding: 8px;
    margin-left: 28px;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .login-container input[type="password"] {
    padding: 8px;
    margin-left: 10px;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  .login-container button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: -10px;
    border-radius: 5px;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  
  .numbered-list {
    list-style: none;
    counter-reset: case-counter;
    padding-left: 0;
  }
  
  .numbered-list .case-item {
    display: flex;
    align-items: center;
    padding-left: 10px; /* Adjust the padding value as needed */
  }
  
  .numbered-list .number {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .numbered-list .description {
    white-space: pre-wrap;
  }
  

  .logout-button {
    background-color: #3912a3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #3912a3;
  }

  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height based on your needs */
  }
  
  .profile-container h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .profile-container p {
    font-size: 16px;
    font-family: sans-serif;
  }
  
  